appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.4
confusable-homoglyphs==3.0.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.11
django-analytical==2.2.2
django-registration==2.4.1
django-widget-tweaks==1.4.1
factory-boy==2.10.0
Faker==0.8.12
gunicorn==19.7.1
idna==2.5
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyJWT==1.5.2
pyparsing==2.2.0
python-dateutil==2.7.2
python-openid==2.2.5
python3-openid==3.1.0
pytz==2018.3
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
text-unidecode==1.2
urllib3==1.21.1
whitenoise==3.3.0